<div id="classes">
    <div class="groups-header">
        <select>
            <option>Ordered by name</option>
            <option>Ordered by Number of students</option>
        </select>
        <button>Create class</button>
    </div>

    <!-- Group Cards -->
    <div class="group-container">
        <div class="group-card">
            <div class="group-header"></div>
            <div class="group-body">
                <div class="group-info">
                    <div class="group-name">Group name</div>
                    <div class="group-students">Number of students</div>
                </div>
                <div class="group-actions">
                    <i class="fa-solid fa-trash"></i>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</div>

